<div class="wrapper_outer">
    <div class="container">
      <h1>CHALLENGE 6: JSON TREASURE HUNT CHALLENGE</h1>

      <p>
        Find the treasure! Write a script that shows the exact path of the booty!<br>
        <br>
        Booty is located at "dailyprogrammer". This is hidden deep in the challenge1.txt and challenge2.txt files!
      </p>

      <h1>So now what</h1>

      <p>
        You will have to write a script that runs trough the JSON objects and finds the given word. Show the full path of the word.<br>
        <br>
        I.e. For challenge 1 the path should be: "axvjf > tskgrsi > 0 > ozr > 0 > 1 > 0 = dailyprogrammer"
      </p>

      <p class="codetext">
        > Any language is accepted. A 'new' langauge is a pré.<br>
        <br>
        > Add a functionality that records the processtime.
      </p>

      <h2>Good luck</h2>

      <p>
        Points awarded for:
      </p>
      <p class="codetext">
        > Code cleaniness 

        > Process speed

        > Amount of lines (less is more)
      </p>
      <p>
        Grades per category: 1 - 5. The person with the most points wins a price.
      </p>
    </div>
  </div>
  
  
  
  