<!DOCTYPE html>
<div class="wrapper_outer">
  <div class="container">

<h1>
  CHALLENGE 1: CLEAN UP THE WORDS
</h1>
<hr>

<h2>
  Description
</h2>
<p>
  You have a list of words. Letters of these words are mixed with extra symbols, so it is hard to define the<br>
  beginning and end of each word. Write a program that will clean up the words from extra numbers and symbols.
</p>

<h2>
  Example
</h2>
<b>Input:</b>
<p class="codetext">
  > (--9Hello----World...--)<br>
  > Can 0$9 ---you~<br>
  > 13What213are;11you-123+138doing7
</p>

<b>Output:</b>
<p class="codetext">
  > hello world<br>
  > can you<br>
  > what are you doing
</p>


<h2>
  How do I do it?
</h2>
<p>
  - Load the string(s) from the input.txt<br>
  - Find a way to clean them up
</p>

<b>Solution</b>

<div><object id="inputObject" class="input" data="../../assets/1/input.txt"></object></div>
<br>



<button (click)="solve();">Click me to solve!</button>



