<nav class="navbar navbar-expand-md fixed top navbarprops navbar-expand-custom">
  <div class="container">
    <a
      class="navbar-brand color: white a-navbar"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      ><img class ="brandimage" src="../../assets/lyfter logo.png"/></a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a
            class="nav-link a-navbar"
            routerLink="/challenge1"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-disabled="true"
            >Challenge 1</a
          >

          <li class="nav-item">
            <a
              class="nav-link a-navbar"
              routerLink="/challenge2"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              aria-disabled="true"
              >Challenge 2</a
            >

            <li class="nav-item">
              <a
                class="nav-link a-navbar" 
                routerLink="/challenge3"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                aria-disabled="true"
                >Challenge 3</a
              >

        <li class="nav-item">
          <a
            class="nav-link a-navbar"
            routerLink="/challenge4"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-disabled="true"
            >Challenge 4</a
          >

          <li class="nav-item">
            <a
              class="nav-link a-navbar"
              routerLink="/challenge5"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              aria-disabled="true"
              >Challenge 5</a
            >

            <li class="nav-item">
              <a
                class="nav-link a-navbar"
                routerLink="/challenge6"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
                aria-disabled="true"
                >Challenge 6</a
              >
      </ul>
    </div>
  </div>
</nav>