<div class="wrapper_outer">
    <div class="container">
      <h1>CHALLENGE 5: ROMAN NUMERALS</h1>
      
      <h2>Description</h2>
      <p>
        Many persons are familiar with the Roman numerals for relatively small numbers.<br>
        The symbols I (capital i), V, X, L, C, D, and M represent the decimal values 1, 5, 10, 50, 100, 500 and 1000 respectively.<br>
        To represent other values, these symbols, and multiples where necessary, are concatenated, with the smaller-valued symbols written further to the right.<br>
        For example, the number 3 is represented as III, and the value 73 is represented as LXXIII.<br>
        The exceptions to this rule occur for numbers having units values of 4 or 9, and for tens values of 40 or 90.<br>
        For these cases, the Roman numeral representations are IV (4), IX (9), XL (40), and XC (90). So the Roman numeral representations for 24, 39, 44, 49, and 94 are XXIV, XXXIX, XLIV, XLIX, and XCIV, respectively.<br>

      </p>

      <p>
        Write a program to convert a cardinal number to a Roman numeral.
      </p>

      <p class="codetext">
        I - 1<br>
        V - 5<br>
        X - 10<br>
        L - 50<br>
        C - 100<br>
        D - 500<br>
        M - 1000
      </p>

      <b>Input:</b>
      <p class="codetext">
        159<br>
        296<br>
        3992
      </p>

      <b>Output:</b>
      <p class="codetext">
        CLIX<br>
        CCXCVI<br>
        MMMCMXCII
      </p>

      <h2>
        How do I do it?
      </h2>
      <p>
        - Create a function which accepts 1 numeric parameter and outputs the Roman numeral string.
      </p>
    </div>
  </div>
  
  
  
  