<div class="wrapper_outer">
    <div class="container">
      <h1>CHALLENGE 4: TRICK OR TREAT</h1>

      <h2>Description</h2>
      <p>
        Everyone knows what Halloween is and how children love it.<br>
        Children in costumes travel from house to house asking for treats with a phrase "Trick or treat".<br>
        After that, they divide the treats equally among all. This year, they collected tons of candies, and need your help to share everything equally.<br>
        You know that children receive different number of candies depending on their costume: vampire gets 3 candies from one house, zombie – 4 candies, and witch – 5 candies.<br><br>
        That is, three children in three different costumes get 3+4+5=12 candies from one house.
      </p>

      <b>So:</b>
      <p class="codetext">
        >Vampire: 3 candies per house<br>
        >Zombie: 4 candies per house<br>
        >Witch: 5 candies per house
      </p>

      <h2>Example</h2>

      <b>Input:</b>
      <p class="codetext">
        Vampires: 1, Zombies: 1, Witches: 1, Houses: 1<br>
        Vampires: 3, Zombies: 2, Witches: 1, Houses: 10
      </p>

      <b>Output:</b>
      <p class="codetext">
        4<br>
        36
      </p>

      <h2>How do I do it?</h2>
      <p>
        - Load the input.txt<br>
        - Loop trough the strings, each string contains a group of children and the amount of houses they have been to<br>
        - Output the amount of candy each kid gets at the end of the night    
      </p>
    </div>
  </div>
  
  
  
  