<div class="wrapper_outer">
    <div class="container">
      <h1>CHALLENGE 3: CREATE A WEBSITE</h1>
      <hr>
      <p>Create a website where the first 2 challenges are shown on.<br>
        Create a homepage with a menu where the challenges are shown on separate pages.</p>

        <b>Make it nice!</b>
        <p class="codetext">
          - Use bootstrap and SASS (scss)<br>
          - Using a framework is a pre (like Symfony, Laravel or AngularJS)<br>
          - Create a SEO friendly website.
        </p>

        <p>Build it where you can easily add new pages to display challenge 4 and 5 on (database driven is a plus!).</p>

        <h2>Solution?</h2>

        <p>You're browsing the solution right now!</p>

    </div>
  </div>
  
  
  
  