<app-navbar></app-navbar>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<main role="main" class="container-fluid container-main container-custom" id="main">
<router-outlet></router-outlet>
</main>