<div class="wrapper_outer">
    <div class="container">
      <h1>
        CHALLENGE 2: FIZZ BUZZ
      </h1>
      <hr>
      <h2>
        Description
      </h2>
      <p>
        Players generally sit in a circle.<br>
        The first player says the number “1”, and each player says next number in turn.<br>
        However, any number divisible by X (for example, three) is replaced by the word fizz, and any divisible by Y (for example, five) by the word buzz.<br>
        Numbers divisible by both become fizz buzz. A player who hesitates, or makes a mistake is eliminated from the game.<br>
        <br>
        Write a program that prints out the final series of numbers where those divisible by X, Y and both are replaced by “F” for fizz, “B” for buzz and “FB” for fizz buzz.
      </p>

      <h2>
        Example
      </h2>
      <b>Input:</b>
      <p class ="codetext">
        3 5
      </p>
      <b>Output:</b>
      <p class="codetext">
        1 2 F 4 B 7 8 F B
      </p>
      <h2>
        How do I do it?
      </h2>
      <p>
        - Write a function which loops from 1 to 100 and accepts 2 parameters (Fizz & Buzz)<br>
        - Output the loop from 1 to 100 where the given parameters are correctly replaced with the words (or first letter of): Fizz or Buzz.
      </p>
      <b>Solution</b><br>
      <label for="fnumber">First number (Fizz):</label><br>
      <input id="firstNumbr" type="number" id="fnumber" name="fname"><br>
      <label for="snumber">Second number (Buzz):</label><br>
      <input id="secondNumbr" type="number" id="snumber" name="fname"><br>
      <br>
      <button (click)="calculate()">Click me!</button>
      <br>
      <br>
      <li class="displayinline" id="numberList" *ngFor="let number of numbers">
        {{ number }}
      </li>
      
      


    </div>
  </div>
  
  
  
  