.codetext {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

.small-card
{
    width: 250px;
    display: inline-block !important;
    height: 250px;
    margin: 20px;
    border: 5px solid #c3d432;    
    /* background-color: #7DD5F0; */
    /* background: #e5d919; */
    color: black !important;
    cursor: pointer;
    box-shadow: none !important;
}

html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f5f5f5 !important;
  }
.small-card:hover{
    box-shadow: 0 4px 10px -6px rgba(0,0,0,.5), 0 1px 5px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;
}


.a-category
{
    color: blue !important;
    font-weight: 500;

}

.a-category:visited
{
    color: blue !important;
    font-weight: 500;
}

.a-navbar:focus{
    color: #d40d8b !important; 
}

.a-navbar {
    color: black !important;
    /* font-weight: 300; */
    /* font-size: 1.2em; */
}

.a-navbar:hover{
    color: #d40d8b !important;
    /* font-weight: 300; */
    /* font-size: 1.2em; */
    background: white;
    border-radius: 20px;
}

.wrapper_outer
{
    width: 100%; 
    background-color: white;
    padding: 20px;
    /* color:#5c0c1; */
}

.small-activity-card
{
    width: 250px;
    display: inline-block !important;
    height: 250px;
    box-shadow: none !important ;
    margin: 20px;
    border: 5px solid #ce2ea8;
    cursor: pointer;
}

.small-activity-card:hover{
    box-shadow: 0 4px 10px -6px rgba(0,0,0,.5), 0 1px 5px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;
}

.img-small-card
{
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
    max-height: 153px;
}

.small-card-header
{
    text-align: center;
}

.empty-message
{
    padding-left: 10px;
    border: 10px solid #ffffff00 !important;
    border-radius: 5px;
    border: 3px solid #8784d2 !important;
    color: #5e5e5e !important;
    margin-bottom: 30px;
    margin-top: 20px;
    background: aliceblue;
    padding-top: 6px;
}

.p-line-height
{
    line-height: 3;
}

.content{
    width: 750px;
    margin-right: auto;
}

.emphasis{
    width: 750px;
    font-weight: bold;
}

.content_wrapper {
    max-width: 750px;
    width: relative;
    position: relative;
    padding-left: 50px 0;
    padding-right: 50px 0;
    z-index: 10;
}

.navbarprops{
    background-color: white;
    color: black;
}

.tree-group
{
    background-color: white;
    margin: 10px;
}

.tree-item{
    background-color: white;
    border-radius: 10px;
}

.tree-title{
    background-color: white;
}

.wrapper-custom
{
    padding: 10px;
}

.filler-space
{
  height: 40px;
  width:100%;
  background-color: #f5f5f5;
}

.small-header{    
    font-weight: 400;
    color: #0f3f91;
}

.font-bolder
{
    font-weight: 500;
}

.font-subheader
{
    color: #d40d8b;
}

@media screen and (max-width: 1490px) {
    .header-text {
        /* display: none; */
    }
}

.img-wrapper{
    min-height: 154px;
}

.act-spacing{
    margin-top: 15px;
}

.btn-spacing
{
    margin: 10px;    
}